@{
    ViewData["Title"] = "Contact Page";
}
I would love to contact you.  Please give me contact information for my professional staff to reach out to you. <br>
<form action="/Contact/contactsubmit" method="POST">
    <label for="Name">Full Name</label>
    <input type="text" name="Name">
    <br>
    <label for="Email">Email: </label>
    <input type="email" name="Email">
    <br>
    <label for="Phone">Phone Number:</label>
    <input type="text" name="Phone">
    <br>
    <button name="Submit" value="Submit">Submit</button>
</form>