@{
    ViewData["Title"] = "Home Page";
}
<h1>About me!</h1>
<p>James O'Rourke</p>
<p>18+ year of professional developer experience, new and improved with web technologies.</p>
<img src="./images/JamesIsGreat.jpg" alt="James Is Great Photograph from Safeco Field 2017" width="400px">
